Extract_Trasform_Load/Flow_ETL.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "The example of ETL-process, contain Extraction from different sources, various transform, and load to disk and to Kafka",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "7f2a375c-6a12-3cc7-9199-1145846e475c",
            "instanceIdentifier" : "bf291ea0-018d-1000-ac2a-1a06ec6c069a",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "1eb37842-3f2a-3340-96c3-fca7768fb154",
          "instanceIdentifier" : "c1f6c0a7-018d-1000-67a2-1d188d82619a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "a39d233a-50a7-3b11-babd-f5d7634fd65a",
            "instanceIdentifier" : "c1f54912-018d-1000-192d-552b0e614d78",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1424.0,
            "y" : -456.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "4b08e413-168a-310d-96c8-608f36a0ff5a",
            "instanceIdentifier" : "bd8563ce-018d-1000-246f-6d67de1a0523",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a1a91fa7-8d77-34b7-8c00-711c39f85a3f",
          "instanceIdentifier" : "bde03f47-018d-1000-4b3c-afff40a07b9e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
            "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
            "name" : "RouteToDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "695d1f01-1ec6-3b31-9e6e-63590492f5c5",
            "instanceIdentifier" : "c1b93049-018d-1000-0c24-e1160f570a2d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "4b7bb4d5-4825-34d0-bbe9-5572ee524c70",
          "instanceIdentifier" : "bf3de751-018d-1000-6b33-512468a85550",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "f39f5b6f-0a6e-32bb-89e3-e7aedf78861f",
            "instanceIdentifier" : "bf2d936a-018d-1000-b035-ede40aabca14",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "98fd4a30-5230-3f75-8207-9b1c0a2adf90",
            "instanceIdentifier" : "bdd2db79-018d-1000-97c3-f384fad06f2a",
            "name" : "UpdateAttribute_Day+1",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "34ed3fca-43df-3577-8b64-0fb19e413eda",
          "instanceIdentifier" : "bddf7f63-018d-1000-c0f4-19e586b64ea5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
            "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
            "name" : "RouteToDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "21558691-296e-3574-b626-d1df126b633c",
            "instanceIdentifier" : "bf1f2bf4-018d-1000-ffb8-dbae559abf43",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "300ce3f3-10e2-3bff-b46c-33c3071470ed",
          "instanceIdentifier" : "c19f6a49-018d-1000-594b-9551670820b5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "ada6cc6f-f4ef-3ed3-bafb-3d1d9d0fb0ab",
            "instanceIdentifier" : "c19dfb6e-018d-1000-f332-f693eb187b78",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "ada6cc6f-f4ef-3ed3-bafb-3d1d9d0fb0ab",
            "instanceIdentifier" : "c19dfb6e-018d-1000-f332-f693eb187b78",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "c8694b91-8eaa-3253-ac1a-31f89bfc96a3",
          "instanceIdentifier" : "c19e1622-018d-1000-abd8-ee7e3f039ab5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "ecc22032-dfb3-320f-aa09-8a6237868e90",
            "instanceIdentifier" : "bea5c63a-018d-1000-0029-c32eac987512",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "7dedae57-7cb8-3340-b129-07172c50751b",
            "instanceIdentifier" : "bd3976d4-018d-1000-d3a3-3a7075288ca4",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "1da752b1-1ba2-30c8-8b24-3d167b741813",
          "instanceIdentifier" : "bda0493b-018d-1000-b683-ccb39f1e4707",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "b1e59e3c-8683-3ec7-a7f4-66676ff319a7",
            "instanceIdentifier" : "bd9e9efb-018d-1000-e635-c9216e8b73a4",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
            "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
            "name" : "RouteToDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "48da8c24-8b58-36ac-879f-08db48a86579",
          "instanceIdentifier" : "bdefb377-018d-1000-4712-fef3af474548",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "terminate" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "e8d458de-74c6-3dc4-ad2e-0dc2f7e52efb",
            "instanceIdentifier" : "bdef058d-018d-1000-222a-de00c81df87e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "a0c6e25b-df94-3751-90d7-ff786222f23e",
            "instanceIdentifier" : "be3297cb-018d-1000-87b2-e24a0476b1e2",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "816868ee-73d0-31dd-abb9-f3ac78efc9e3",
          "instanceIdentifier" : "bd3a13ad-018d-1000-7234-9d59c97e085c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "7dedae57-7cb8-3340-b129-07172c50751b",
            "instanceIdentifier" : "bd3976d4-018d-1000-d3a3-3a7075288ca4",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "b1e59e3c-8683-3ec7-a7f4-66676ff319a7",
            "instanceIdentifier" : "bd9e9efb-018d-1000-e635-c9216e8b73a4",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "98e31ebc-8253-3dc6-83b6-9439fc687afa",
          "instanceIdentifier" : "bd86261b-018d-1000-7b0b-2a6bc0abc77a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "4b08e413-168a-310d-96c8-608f36a0ff5a",
            "instanceIdentifier" : "bd8563ce-018d-1000-246f-6d67de1a0523",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "9b5e187a-e01d-3fe8-9a2e-aef065efc96d",
            "instanceIdentifier" : "bebe17fc-018d-1000-400e-102c7eefd0f7",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "68c3c512-c26e-3272-a22e-d112d3b82691",
          "instanceIdentifier" : "bebe76d4-018d-1000-82bc-b55b2e162f18",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "c6cce541-4348-3e0f-910d-3fa3772ff900",
            "instanceIdentifier" : "be7e280e-018d-1000-13d0-7e1b9832465e",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "d9c9ef44-e2df-32cf-b26f-3864f1d59653",
            "instanceIdentifier" : "bf220b59-018d-1000-0c2e-0e3fb52a941c",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a7c724eb-7431-3fc0-8ddf-910c585ab2e1",
          "instanceIdentifier" : "bf1469fb-018d-1000-f1c2-0646a3349a60",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "072d131c-7c55-3699-962b-f0f2a1987149",
            "instanceIdentifier" : "bf0ec505-018d-1000-5545-f6a613784992",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "f39f5b6f-0a6e-32bb-89e3-e7aedf78861f",
            "instanceIdentifier" : "bf2d936a-018d-1000-b035-ede40aabca14",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "da3dd5df-fed8-322e-a4fa-30e340ac04a5",
          "instanceIdentifier" : "bf223c7d-018d-1000-6886-b7282731753e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "d9c9ef44-e2df-32cf-b26f-3864f1d59653",
            "instanceIdentifier" : "bf220b59-018d-1000-0c2e-0e3fb52a941c",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1160.0,
            "y" : -352.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "4b08e413-168a-310d-96c8-608f36a0ff5a",
            "instanceIdentifier" : "bd8563ce-018d-1000-246f-6d67de1a0523",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "be32ab74-79b6-3922-bdcb-3acf2f989e67",
          "instanceIdentifier" : "bddfd29d-018d-1000-0b4e-2caea72d7381",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "looping" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
            "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
            "name" : "RouteToDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "a39d233a-50a7-3b11-babd-f5d7634fd65a",
            "instanceIdentifier" : "c1f54912-018d-1000-192d-552b0e614d78",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a8ac475d-02fb-3257-8bd7-1c446ed80060",
          "instanceIdentifier" : "c1996296-018d-1000-cd7e-8cc5dfae86f7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "21558691-296e-3574-b626-d1df126b633c",
            "instanceIdentifier" : "bf1f2bf4-018d-1000-ffb8-dbae559abf43",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "81bed80e-c3da-36dd-8292-f438c1eb6118",
            "instanceIdentifier" : "bea632e7-018d-1000-0e9b-1ff139d6c98d",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "fe43b428-5d6e-3d28-a20f-37596b22ab83",
          "instanceIdentifier" : "be9f99b8-018d-1000-5573-52af54e3418f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "splits" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "3a2aab7c-8189-3d28-ae1d-81a879726e37",
            "instanceIdentifier" : "bcfc59ef-018d-1000-3fad-3a3bf05cda34",
            "name" : "SplitRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "e8d458de-74c6-3dc4-ad2e-0dc2f7e52efb",
            "instanceIdentifier" : "bdef058d-018d-1000-222a-de00c81df87e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "753d5326-ae3a-383c-9c3a-18903a40a76e",
          "instanceIdentifier" : "f000af83-018d-1000-3dbc-15c7d62ed322",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "6dfc2a81-776a-39fe-8063-d61da62f05f9",
            "instanceIdentifier" : "f00096f5-018d-1000-b82a-0496fdd6798e",
            "name" : "Into PG",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
            "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
            "name" : "RouteToDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "df0d9f9d-9e82-30ad-998e-12bd83c42652",
          "instanceIdentifier" : "bddcf2e7-018d-1000-5939-fa34f98f0796",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "c3c966d6-d2d7-3649-8da9-767f7e5ad0f3",
            "instanceIdentifier" : "bdd59d86-018d-1000-d87e-cce92f5e8136",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "f52537da-b65c-3817-98af-7bab809c7ecf",
            "instanceIdentifier" : "be6e196d-018d-1000-a837-fcdbf4fe3e96",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "cad89113-13c0-3336-b51e-81d8cd26a15b",
          "instanceIdentifier" : "be6e4325-018d-1000-2176-ed0e1b2c57fa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "a0c6e25b-df94-3751-90d7-ff786222f23e",
            "instanceIdentifier" : "be3297cb-018d-1000-87b2-e24a0476b1e2",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "2f7a4609-091b-3e09-a69b-5782921d3e8e",
            "instanceIdentifier" : "f00222ed-018d-1000-43e4-f13c8f24ab91",
            "name" : "Into PG OUT",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "e8f2e594-a26b-3333-af67-5b34b5854d13",
          "instanceIdentifier" : "f0023902-018d-1000-b051-3c98557fdfcc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "c3c966d6-d2d7-3649-8da9-767f7e5ad0f3",
            "instanceIdentifier" : "bdd59d86-018d-1000-d87e-cce92f5e8136",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "ecc22032-dfb3-320f-aa09-8a6237868e90",
            "instanceIdentifier" : "bea5c63a-018d-1000-0029-c32eac987512",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a98e8ed8-3f18-37a6-9df5-2cf48b1a91e4",
          "instanceIdentifier" : "beaa9f57-018d-1000-95af-618e4e8b5c35",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "date" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "81bed80e-c3da-36dd-8292-f438c1eb6118",
            "instanceIdentifier" : "bea632e7-018d-1000-0e9b-1ff139d6c98d",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "21558691-296e-3574-b626-d1df126b633c",
            "instanceIdentifier" : "bf1f2bf4-018d-1000-ffb8-dbae559abf43",
            "name" : "JoinEnrichment",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "da6ba6d1-920b-338d-b726-d0ad9690c882",
          "instanceIdentifier" : "c1ba77f1-018d-1000-4a48-66c198a90473",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "695d1f01-1ec6-3b31-9e6e-63590492f5c5",
            "instanceIdentifier" : "c1b93049-018d-1000-0c24-e1160f570a2d",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "3a2aab7c-8189-3d28-ae1d-81a879726e37",
            "instanceIdentifier" : "bcfc59ef-018d-1000-3fad-3a3bf05cda34",
            "name" : "SplitRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "15e32c12-1a14-3c3d-a03b-6294215ba704",
          "instanceIdentifier" : "bcfc93f2-018d-1000-e2e3-fb9ee101ef77",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "97fd7613-f8f9-315b-ba65-9c8ab6497a4d",
            "instanceIdentifier" : "bcfacfc9-018d-1000-71a5-62eebf3cff80",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "079a3b8a-707c-381e-9d85-1961e8483cbc",
            "instanceIdentifier" : "bf092905-018d-1000-f642-4b8c5ee0d1d9",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "5b182446-eef6-3770-966b-08d97916fd9c",
          "instanceIdentifier" : "bee872cf-018d-1000-d766-9b58e437315a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "9b5e187a-e01d-3fe8-9a2e-aef065efc96d",
            "instanceIdentifier" : "bebe17fc-018d-1000-400e-102c7eefd0f7",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "c6cce541-4348-3e0f-910d-3fa3772ff900",
            "instanceIdentifier" : "be7e280e-018d-1000-13d0-7e1b9832465e",
            "name" : "UpdateRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "77285638-2d33-3702-b976-d3105248312a",
          "instanceIdentifier" : "be6fa0fa-018d-1000-ab8a-cc85e6ac5c49",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "f52537da-b65c-3817-98af-7bab809c7ecf",
            "instanceIdentifier" : "be6e196d-018d-1000-a837-fcdbf4fe3e96",
            "name" : "FlattenJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 216.0,
            "y" : -240.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "e8d458de-74c6-3dc4-ad2e-0dc2f7e52efb",
            "instanceIdentifier" : "bdef058d-018d-1000-222a-de00c81df87e",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "bf4a59ff-3a74-38ff-bfc2-b1969db200c2",
          "instanceIdentifier" : "bde05af3-018d-1000-a9d1-fa8af9b5b38a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "98fd4a30-5230-3f75-8207-9b1c0a2adf90",
            "instanceIdentifier" : "bdd2db79-018d-1000-97c3-f384fad06f2a",
            "name" : "UpdateAttribute_Day+1",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "072d131c-7c55-3699-962b-f0f2a1987149",
            "instanceIdentifier" : "bf0ec505-018d-1000-5545-f6a613784992",
            "name" : "MergeRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "e848a22d-fbdb-3eda-a775-5335d5ea5231",
          "instanceIdentifier" : "bf098156-018d-1000-3d3b-9ec615c6d5e3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.PriorityAttributePrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
            "id" : "079a3b8a-707c-381e-9d85-1961e8483cbc",
            "instanceIdentifier" : "bf092905-018d-1000-f642-4b8c5ee0d1d9",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "500904d9-93b3-3000-8c2e-1c7d2cc6378f",
          "instanceIdentifier" : "bf0a39f3-018d-1000-6b16-165c99c7f799",
          "name" : "CSVRecordSetWriterforWeather",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "no-schema",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "e64ad4df-0b55-3ea9-b05f-b0eb48cca58e",
          "instanceIdentifier" : "bf2889af-018d-1000-5f6f-7a60772a19ab",
          "name" : "CSVRecordSetWriterForAll",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "no-schema",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "8bfb095b-f14a-3c20-833b-432aa7e8142f",
          "instanceIdentifier" : "be808763-018d-1000-99a9-d9949aa353f9",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "9b028c11-b938-32f8-a4b4-757f35f0dea9",
          "instanceIdentifier" : "bea05272-018d-1000-7fe3-614af6d38140",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "Trim double quote" : "true",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "infer-schema",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Trim double quote" : {
              "displayName" : "Trim double quote",
              "identifiesControllerService" : false,
              "name" : "Trim double quote",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "0bf99d07-a54e-3013-9a76-c4f942a3e96d",
          "instanceIdentifier" : "be804141-018d-1000-37f4-c9dd96dbb090",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
        "inputPorts" : [ {
          "allowRemoteAccess" : true,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "6dfc2a81-776a-39fe-8063-d61da62f05f9",
          "instanceIdentifier" : "f00096f5-018d-1000-b82a-0496fdd6798e",
          "name" : "Into PG",
          "position" : {
            "x" : 96.0,
            "y" : -864.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "bce6f5cd-018d-1000-dc49-a4bfc0abd273",
        "labels" : [ ],
        "logFileSuffix" : "",
        "name" : "Lab_2",
        "outputPorts" : [ {
          "allowRemoteAccess" : true,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "2f7a4609-091b-3e09-a69b-5782921d3e8e",
          "instanceIdentifier" : "f00222ed-018d-1000-43e4-f13c8f24ab91",
          "name" : "Into PG OUT",
          "position" : {
            "x" : 1196.168424071534,
            "y" : -900.9871288104218
          },
          "scheduledState" : "ENABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "GeneralInfo",
        "position" : {
          "x" : 1248.0,
          "y" : 368.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "c3c966d6-d2d7-3649-8da9-767f7e5ad0f3",
          "instanceIdentifier" : "bdd59d86-018d-1000-d87e-cce92f5e8136",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : -736.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "date_in" : "2021-#{Number}-01",
            "File Size" : "0B",
            "mime-type" : "application/json",
            "generate-ff-custom-text" : "{\"London\":{\"city\": \"London\", \"latitude\": 51.51, \"longitude\": 0.13}, \"Hong Kong\":{\"city\": \"Hong Kong\", \"latitude\": 22.27, \"longitude\": 114.18}, \"Singapore\":{\"city\": \"Singapore\", \"latitude\": 1.29, \"longitude\": 103.85}}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "date_out" : "2021-#{Number}-31",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "date_in" : {
              "displayName" : "date_in",
              "identifiesControllerService" : false,
              "name" : "date_in",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "date_out" : {
              "displayName" : "date_out",
              "identifiesControllerService" : false,
              "name" : "date_out",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "072d131c-7c55-3699-962b-f0f2a1987149",
          "instanceIdentifier" : "bf0ec505-018d-1000-5545-f6a613784992",
          "maxBackoffPeriod" : "10 mins",
          "name" : "MergeRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 1320.0
          },
          "properties" : {
            "correlation-attribute-name" : "filename",
            "Attribute Strategy" : "Keep Only Common Attributes",
            "min-records" : "3",
            "record-writer" : "500904d9-93b3-3000-8c2e-1c7d2cc6378f",
            "merge-strategy" : "Defragment",
            "record-reader" : "9b028c11-b938-32f8-a4b4-757f35f0dea9",
            "max-records" : "100",
            "min-bin-size" : "0 B",
            "max.bin.count" : "100"
          },
          "propertyDescriptors" : {
            "max-bin-age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "max-bin-age",
              "sensitive" : false
            },
            "correlation-attribute-name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "correlation-attribute-name",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "min-records" : {
              "displayName" : "Minimum Number of Records",
              "identifiesControllerService" : false,
              "name" : "min-records",
              "sensitive" : false
            },
            "max-bin-size" : {
              "displayName" : "Maximum Bin Size",
              "identifiesControllerService" : false,
              "name" : "max-bin-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "merge-strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "merge-strategy",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "max-records" : {
              "displayName" : "Maximum Number of Records",
              "identifiesControllerService" : false,
              "name" : "max-records",
              "sensitive" : false
            },
            "min-bin-size" : {
              "displayName" : "Minimum Bin Size",
              "identifiesControllerService" : false,
              "name" : "min-bin-size",
              "sensitive" : false
            },
            "max.bin.count" : {
              "displayName" : "Maximum Number of Bins",
              "identifiesControllerService" : false,
              "name" : "max.bin.count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "036b9447-cc9c-3e76-ad77-c3f2d2e476be",
          "instanceIdentifier" : "bdd2db7a-018d-1000-7cae-1f35d077ac0b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteToDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : -520.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "looping" : "${date_in:equals(${date_out})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "looping" : {
              "displayName" : "looping",
              "identifiesControllerService" : false,
              "name" : "looping",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "3a2aab7c-8189-3d28-ae1d-81a879726e37",
          "instanceIdentifier" : "bcfc59ef-018d-1000-3fad-3a3bf05cda34",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 264.0
          },
          "properties" : {
            "Record Writer" : "8bfb095b-f14a-3c20-833b-432aa7e8142f",
            "Record Reader" : "9b028c11-b938-32f8-a4b4-757f35f0dea9",
            "Records Per Split" : "1"
          },
          "propertyDescriptors" : {
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Records Per Split" : {
              "displayName" : "Records Per Split",
              "identifiesControllerService" : false,
              "name" : "Records Per Split",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "079a3b8a-707c-381e-9d85-1961e8483cbc",
          "instanceIdentifier" : "bf092905-018d-1000-f642-4b8c5ee0d1d9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 1112.0
          },
          "properties" : {
            "record-writer" : "500904d9-93b3-3000-8c2e-1c7d2cc6378f",
            "record-reader" : "0bf99d07-a54e-3013-9a76-c4f942a3e96d",
            "include-zero-record-flowfiles" : "false"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "7dedae57-7cb8-3340-b129-07172c50751b",
          "instanceIdentifier" : "bd3976d4-018d-1000-d3a3-3a7075288ca4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 96.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "15 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://archive-api.open-meteo.com/v1/archive?latitude=${latitude}&longitude=${longitude}&start_date=${date_in}&end_date=${date_in}&daily=temperature_2m_mean,rain_sum",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a39d233a-50a7-3b11-babd-f5d7634fd65a",
          "instanceIdentifier" : "c1f54912-018d-1000-192d-552b0e614d78",
          "maxBackoffPeriod" : "10 mins",
          "name" : "MergeRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1080.0,
            "y" : 584.0
          },
          "properties" : {
            "Attribute Strategy" : "Keep Only Common Attributes",
            "min-records" : "28",
            "record-writer" : "e64ad4df-0b55-3ea9-b05f-b0eb48cca58e",
            "merge-strategy" : "Bin-Packing Algorithm",
            "record-reader" : "9b028c11-b938-32f8-a4b4-757f35f0dea9",
            "max-records" : "100",
            "min-bin-size" : "0 B",
            "max.bin.count" : "100"
          },
          "propertyDescriptors" : {
            "max-bin-age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "max-bin-age",
              "sensitive" : false
            },
            "correlation-attribute-name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "correlation-attribute-name",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "min-records" : {
              "displayName" : "Minimum Number of Records",
              "identifiesControllerService" : false,
              "name" : "min-records",
              "sensitive" : false
            },
            "max-bin-size" : {
              "displayName" : "Maximum Bin Size",
              "identifiesControllerService" : false,
              "name" : "max-bin-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "merge-strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "merge-strategy",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "max-records" : {
              "displayName" : "Maximum Number of Records",
              "identifiesControllerService" : false,
              "name" : "max-records",
              "sensitive" : false
            },
            "min-bin-size" : {
              "displayName" : "Minimum Bin Size",
              "identifiesControllerService" : false,
              "name" : "min-bin-size",
              "sensitive" : false
            },
            "max.bin.count" : {
              "displayName" : "Maximum Number of Bins",
              "identifiesControllerService" : false,
              "name" : "max.bin.count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "c6cce541-4348-3e0f-910d-3fa3772ff900",
          "instanceIdentifier" : "be7e280e-018d-1000-13d0-7e1b9832465e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 704.0
          },
          "properties" : {
            "record-writer" : "8bfb095b-f14a-3c20-833b-432aa7e8142f",
            "record-reader" : "0bf99d07-a54e-3013-9a76-c4f942a3e96d",
            "replacement-value-strategy" : "literal-value",
            "/city" : "${city}"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "replacement-value-strategy" : {
              "displayName" : "Replacement Value Strategy",
              "identifiesControllerService" : false,
              "name" : "replacement-value-strategy",
              "sensitive" : false
            },
            "/city" : {
              "displayName" : "/city",
              "identifiesControllerService" : false,
              "name" : "/city",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.UpdateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "97fd7613-f8f9-315b-ba65-9c8ab6497a4d",
          "instanceIdentifier" : "bcfacfc9-018d-1000-71a5-62eebf3cff80",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 64.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "https://raw.githubusercontent.com/Ilia2704/NiFi_course/master/binance_data.csv",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "e8d458de-74c6-3dc4-ad2e-0dc2f7e52efb",
          "instanceIdentifier" : "bdef058d-018d-1000-222a-de00c81df87e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 40.0,
            "y" : -512.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "terminate" : "${date_in:substring(5, 7):equals(#{Number})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "terminate" : {
              "displayName" : "terminate",
              "identifiesControllerService" : false,
              "name" : "terminate",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "9b5e187a-e01d-3fe8-9a2e-aef065efc96d",
          "instanceIdentifier" : "bebe17fc-018d-1000-400e-102c7eefd0f7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 912.0
          },
          "properties" : {
            "filename" : "${date_in}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "priority" : "${fragment.index}",
            "date[0]" : "${date_in}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "priority" : {
              "displayName" : "priority",
              "identifiesControllerService" : false,
              "name" : "priority",
              "sensitive" : false
            },
            "date[0]" : {
              "displayName" : "date[0]",
              "identifiesControllerService" : false,
              "name" : "date[0]",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "f52537da-b65c-3817-98af-7bab809c7ecf",
          "instanceIdentifier" : "be6e196d-018d-1000-a837-fcdbf4fe3e96",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FlattenJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 496.0
          },
          "properties" : {
            "ignore-reserved-characters" : "false",
            "flatten-mode" : "normal",
            "flatten-json-separator" : ".",
            "flatten-json-pretty-print-json" : "false",
            "flatten-json-return-type" : "flatten",
            "flatten-json-character-set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "ignore-reserved-characters" : {
              "displayName" : "Ignore Reserved Characters",
              "identifiesControllerService" : false,
              "name" : "ignore-reserved-characters",
              "sensitive" : false
            },
            "flatten-mode" : {
              "displayName" : "Flatten Mode",
              "identifiesControllerService" : false,
              "name" : "flatten-mode",
              "sensitive" : false
            },
            "flatten-json-separator" : {
              "displayName" : "Separator",
              "identifiesControllerService" : false,
              "name" : "flatten-json-separator",
              "sensitive" : false
            },
            "flatten-json-pretty-print-json" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "flatten-json-pretty-print-json",
              "sensitive" : false
            },
            "flatten-json-return-type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "flatten-json-return-type",
              "sensitive" : false
            },
            "flatten-json-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "flatten-json-character-set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FlattenJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "7f2a375c-6a12-3cc7-9199-1145846e475c",
          "instanceIdentifier" : "bf291ea0-018d-1000-ac2a-1a06ec6c069a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1696.0,
            "y" : 584.0
          },
          "properties" : {
            "Group" : "centos",
            "Owner" : "centos",
            "Create Missing Directories" : "true",
            "Directory" : "/home/centos",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "ecc22032-dfb3-320f-aa09-8a6237868e90",
          "instanceIdentifier" : "bea5c63a-018d-1000-0029-c32eac987512",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 672.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "filename" : "$.date",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "98fd4a30-5230-3f75-8207-9b1c0a2adf90",
          "instanceIdentifier" : "bdd2db79-018d-1000-97c3-f384fad06f2a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute_Day+1",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : -304.0
          },
          "properties" : {
            "date_in" : "${date_in:toDate('yyyy-MM-dd'):toNumber():plus(86400000):format('yyyy-MM-dd')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "date_in" : {
              "displayName" : "date_in",
              "identifiesControllerService" : false,
              "name" : "date_in",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "f39f5b6f-0a6e-32bb-89e3-e7aedf78861f",
          "instanceIdentifier" : "bf2d936a-018d-1000-b035-ede40aabca14",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -8.0,
            "y" : 1320.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\t\"operation\": \"shift\",\n\t\t\"spec\": {\n\t\t\t\"*\": {\n\t\t\t\t\"date\\\\[0\\\\]\": \"date\",\n\t\t\t\t\"city\": \"city\",\n\t\t\t\t\"rain\\\\[0\\\\]\": \"rain\",\n\t\t\t\t\"temp\\\\[0\\\\]\": \"temp\"\n\t\t\t}\n\t\t}\n\t}, {\n\t\t\"operation\": \"cardinality\",\n\t\t\"spec\": {\n\t\t\t\"date\": \"ONE\"\n\t\t}\n\t}\n\n]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "d9c9ef44-e2df-32cf-b26f-3864f1d59653",
          "instanceIdentifier" : "bf220b59-018d-1000-0c2e-0e3fb52a941c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 640.0,
            "y" : 1320.0
          },
          "properties" : {
            "record-writer" : "8bfb095b-f14a-3c20-833b-432aa7e8142f",
            "record-reader" : "9b028c11-b938-32f8-a4b4-757f35f0dea9",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "695d1f01-1ec6-3b31-9e6e-63590492f5c5",
          "instanceIdentifier" : "c1b93049-018d-1000-0c24-e1160f570a2d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -432.0,
            "y" : 1080.0
          },
          "properties" : {
            "enrichment.role" : "ENRICHMENT",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "enrichment.group.id" : "${filename}"
          },
          "propertyDescriptors" : {
            "enrichment.role" : {
              "displayName" : "enrichment.role",
              "identifiesControllerService" : false,
              "name" : "enrichment.role",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "enrichment.group.id" : {
              "displayName" : "enrichment.group.id",
              "identifiesControllerService" : false,
              "name" : "enrichment.group.id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "b1e59e3c-8683-3ec7-a7f4-66676ff319a7",
          "instanceIdentifier" : "bd9e9efb-018d-1000-e635-c9216e8b73a4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : -104.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "city" : "$.city",
            "Return Type" : "auto-detect",
            "latitude" : "$.latitude",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore",
            "longitude" : "$.longitude"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "city" : {
              "displayName" : "city",
              "identifiesControllerService" : false,
              "name" : "city",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "latitude" : {
              "displayName" : "latitude",
              "identifiesControllerService" : false,
              "name" : "latitude",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "longitude" : {
              "displayName" : "longitude",
              "identifiesControllerService" : false,
              "name" : "longitude",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "81bed80e-c3da-36dd-8292-f438c1eb6118",
          "instanceIdentifier" : "bea632e7-018d-1000-0e9b-1ff139d6c98d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 464.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "date" : ".*\"date\"\\s*:\\s*\"2021-#{Number}-.*",
            "Match Requirement" : "content must match exactly",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "date" : {
              "displayName" : "date",
              "identifiesControllerService" : false,
              "name" : "date",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "ada6cc6f-f4ef-3ed3-bafb-3d1d9d0fb0ab",
          "instanceIdentifier" : "c19dfb6e-018d-1000-f332-f693eb187b78",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 312.0,
            "y" : 880.0
          },
          "properties" : {
            "enrichment.role" : "ORIGINAL",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "enrichment.group.id" : "${filename}"
          },
          "propertyDescriptors" : {
            "enrichment.role" : {
              "displayName" : "enrichment.role",
              "identifiesControllerService" : false,
              "name" : "enrichment.role",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "enrichment.group.id" : {
              "displayName" : "enrichment.group.id",
              "identifiesControllerService" : false,
              "name" : "enrichment.group.id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "a0c6e25b-df94-3751-90d7-ff786222f23e",
          "instanceIdentifier" : "be3297cb-018d-1000-87b2-e24a0476b1e2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : 296.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\n\t\t\"daily\": {\n\n\t\t\t\"time\": \"date\",\n\t\t\t\"temperature_2m_mean\": \"temp\",\n\t\t\t\"rain_sum\": \"rain\"\n\t\t},\n\t\t\"timezone\": \"city\"\n\t}\n}]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "4b08e413-168a-310d-96c8-608f36a0ff5a",
          "instanceIdentifier" : "bd8563ce-018d-1000-246f-6d67de1a0523",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1248.0,
            "y" : -304.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "3bc97b67-fd2c-36cf-8045-13571f5b4714",
          "identifier" : "21558691-296e-3574-b626-d1df126b633c",
          "instanceIdentifier" : "bf1f2bf4-018d-1000-ffb8-dbae559abf43",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoinEnrichment",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -440.0,
            "y" : 592.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "0bf99d07-a54e-3013-9a76-c4f942a3e96d",
            "Record Writer" : "e64ad4df-0b55-3ea9-b05f-b0eb48cca58e",
            "Enrichment Record Reader" : "0bf99d07-a54e-3013-9a76-c4f942a3e96d",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nFULL JOIN enrichment\nON original.date = enrichment.date\nWHERE original.date = enrichment.date"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "GeneralInfo" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "GeneralInfo",
          "parameters" : [ {
            "description" : "User's number according to list",
            "name" : "Number",
            "provided" : false,
            "sensitive" : false,
            "value" : "05"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}